body {
    font-family : arial;
    color: blue;
    background-color: beige;
}

h1 {
    color: darkblue
}

h2 {
    color: cadetblue;
}

h3 {
    color: darkslateblue;
}

a {
    text-decoration: none;
}

a:hover, a:visited {
    color: blue;
}

table, tr, th, td {
    border: solid 1px darkcyan;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

div.error {
    color: red;
}